body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:629px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13748 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:72px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13748 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13748_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13750 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:72px;
  width:42px;
  height:16px;
  display:flex;
}
#u13750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13750_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13751 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:76px;
  width:14px;
  height:8px;
  display:flex;
}
#u13751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13754 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:196px;
  width:300px;
  height:101px;
  display:flex;
}
#u13754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13755 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:196px;
  width:65px;
  height:30px;
  display:flex;
}
#u13755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13756 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:226px;
  width:298px;
  height:70px;
  display:flex;
}
#u13756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13757 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:239px;
  width:48px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u13757 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13757_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13758 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:176px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13758_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13760 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:176px;
  width:42px;
  height:16px;
  display:flex;
}
#u13760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13761 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:180px;
  width:14px;
  height:8px;
  display:flex;
}
#u13761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13762 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:22px;
  width:90px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13762_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13763 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:137px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13763 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13763_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13766 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:397px;
  width:300px;
  height:101px;
  display:flex;
}
#u13766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13767 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:397px;
  width:65px;
  height:30px;
  display:flex;
}
#u13767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13768 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:427px;
  width:298px;
  height:70px;
  display:flex;
}
#u13768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13769 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:440px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13769 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13769_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13770 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:377px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13770_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13772 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:377px;
  width:42px;
  height:16px;
  display:flex;
}
#u13772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13773 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:381px;
  width:14px;
  height:8px;
  display:flex;
}
#u13773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13774 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:338px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13775 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:440px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13775 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13776 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:440px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13776 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13776_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13777 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:440px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13777 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13777_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13778 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:469px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13778 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13778_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13779 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:469px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13779 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13780 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:469px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13780 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13780_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13781 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:469px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13781 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13781_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13782 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:440px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13782 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13782_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13785 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:580px;
  width:300px;
  height:101px;
  display:flex;
}
#u13785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13786 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:580px;
  width:65px;
  height:30px;
  display:flex;
}
#u13786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13787 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:610px;
  width:298px;
  height:70px;
  display:flex;
}
#u13787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13788 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:623px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13788 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13789 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:560px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13791 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:560px;
  width:42px;
  height:16px;
  display:flex;
}
#u13791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13791_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13792 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:564px;
  width:14px;
  height:8px;
  display:flex;
}
#u13792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13793 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:521px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13793 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13793_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13794 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:623px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13794 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13795 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:623px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13795 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13796 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:623px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13796 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13797 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13797 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13798 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13798 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13798_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13799 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13799 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13799_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13800 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13800 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13800_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13801 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:580px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13804 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:769px;
  width:300px;
  height:101px;
  display:flex;
}
#u13804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13805 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:769px;
  width:65px;
  height:30px;
  display:flex;
}
#u13805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13806 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:799px;
  width:298px;
  height:70px;
  display:flex;
}
#u13806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13807 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:749px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13809 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:749px;
  width:70px;
  height:16px;
  display:flex;
}
#u13809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13809_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13810 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:753px;
  width:14px;
  height:8px;
  display:flex;
}
#u13810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13811 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:710px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13811_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13812 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:812px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13812 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13813 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:812px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13813 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13814 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:839px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13814 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13814_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13815 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:839px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13815 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13816 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:839px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13816 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13817 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:769px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13818 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:769px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13819 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:812px;
  width:76px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u13819 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13822 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:969px;
  width:300px;
  height:101px;
  display:flex;
}
#u13822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13823 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:969px;
  width:65px;
  height:30px;
  display:flex;
}
#u13823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13824 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:999px;
  width:298px;
  height:70px;
  display:flex;
}
#u13824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13825 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:949px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13827 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:949px;
  width:70px;
  height:16px;
  display:flex;
}
#u13827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13827_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13828 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:953px;
  width:14px;
  height:8px;
  display:flex;
}
#u13828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13829 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:910px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13830 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:969px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13831 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:969px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13832 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1012px;
  width:62px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u13832 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13833 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:1012px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13833 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13834 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:1012px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13834 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13834_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13835 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1012px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13835 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13836 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13836 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13837 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13837 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13838 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13838 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13839 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13839 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13839_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u13840 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:22px;
  width:163px;
  height:46px;
  display:flex;
}
#u13840 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
