body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:629px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13539 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:72px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13539_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13541 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:72px;
  width:42px;
  height:16px;
  display:flex;
}
#u13541 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13541_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13542 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:76px;
  width:14px;
  height:8px;
  display:flex;
}
#u13542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13545 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:196px;
  width:300px;
  height:101px;
  display:flex;
}
#u13545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13546 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:196px;
  width:65px;
  height:30px;
  display:flex;
}
#u13546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13547 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:226px;
  width:298px;
  height:70px;
  display:flex;
}
#u13547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13548 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:239px;
  width:48px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u13548 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13548_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13549 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:176px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13549_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13551 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:176px;
  width:42px;
  height:16px;
  display:flex;
}
#u13551 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13551_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13552 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:180px;
  width:14px;
  height:8px;
  display:flex;
}
#u13552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13553 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:22px;
  width:90px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13553 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13554 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:137px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13554 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13554_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13557 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:397px;
  width:300px;
  height:101px;
  display:flex;
}
#u13557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13558 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:397px;
  width:65px;
  height:30px;
  display:flex;
}
#u13558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13559 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:427px;
  width:298px;
  height:70px;
  display:flex;
}
#u13559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13560 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:440px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13560 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13560_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13561 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:377px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13561 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13561_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13563 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:377px;
  width:42px;
  height:16px;
  display:flex;
}
#u13563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13563_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13564 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:381px;
  width:14px;
  height:8px;
  display:flex;
}
#u13564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13565 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:338px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13565_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13566 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:440px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13566 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13566_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13567 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:440px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13567 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13567_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13568 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:440px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13568 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13568_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13569 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:469px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13569 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13569_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13570 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:469px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13570 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13571 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:469px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13571 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13572 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:469px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13572 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13573 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:440px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13573 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13576 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:580px;
  width:300px;
  height:101px;
  display:flex;
}
#u13576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13577 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:580px;
  width:65px;
  height:30px;
  display:flex;
}
#u13577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13578 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:610px;
  width:298px;
  height:70px;
  display:flex;
}
#u13578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13579 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:623px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13579 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13579_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13580 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:560px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13580 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13582 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:560px;
  width:42px;
  height:16px;
  display:flex;
}
#u13582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13582_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13583 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:564px;
  width:14px;
  height:8px;
  display:flex;
}
#u13583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13584 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:521px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13584_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13585 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:623px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13585 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13585_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13586 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:623px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13586 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13586_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13587 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:623px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13587 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13587_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13588 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13588 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13588_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13589 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13589 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13589_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13590 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13590 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13590_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13591 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13591 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13591_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13592 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:580px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13595 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:769px;
  width:300px;
  height:101px;
  display:flex;
}
#u13595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13596 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:769px;
  width:65px;
  height:30px;
  display:flex;
}
#u13596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13597 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:799px;
  width:298px;
  height:70px;
  display:flex;
}
#u13597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13598 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:749px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13598 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13598_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13600 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:749px;
  width:70px;
  height:16px;
  display:flex;
}
#u13600 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13600_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13601 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:753px;
  width:14px;
  height:8px;
  display:flex;
}
#u13601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13602 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:710px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13602 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13602_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13603 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:812px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13603 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13603_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13604 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:812px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13604 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13604_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13605 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:839px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13605 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13605_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13606 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:839px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13606 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13607 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:839px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13607 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13607_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13608 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:769px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13609 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:769px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13610 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:812px;
  width:76px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u13610 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13610_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13613 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:969px;
  width:300px;
  height:101px;
  display:flex;
}
#u13613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13614 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:969px;
  width:65px;
  height:30px;
  display:flex;
}
#u13614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13615 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:999px;
  width:298px;
  height:70px;
  display:flex;
}
#u13615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13616 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:949px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13616_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13618 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:949px;
  width:70px;
  height:16px;
  display:flex;
}
#u13618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13618_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13619 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:953px;
  width:14px;
  height:8px;
  display:flex;
}
#u13619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13620 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:910px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13620 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13620_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13621 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:969px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13622 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:969px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13623 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1012px;
  width:62px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u13623 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13623_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13624 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:1012px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13624 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13624_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13625 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:1012px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13625 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13625_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13626 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1012px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13626 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13626_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13627 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13627 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13627_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13628 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13628 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13628_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13629 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13629 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13629_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13630 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13630 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13630_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u13631 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:22px;
  width:163px;
  height:46px;
  display:flex;
}
#u13631 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
