body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:629px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13816 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:72px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13818 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:72px;
  width:42px;
  height:16px;
  display:flex;
}
#u13818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13819 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:76px;
  width:14px;
  height:8px;
  display:flex;
}
#u13819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13822 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:196px;
  width:300px;
  height:101px;
  display:flex;
}
#u13822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13823 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:196px;
  width:65px;
  height:30px;
  display:flex;
}
#u13823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13824 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:226px;
  width:298px;
  height:70px;
  display:flex;
}
#u13824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13825 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:239px;
  width:48px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u13825 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13826 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:176px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13828 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:176px;
  width:42px;
  height:16px;
  display:flex;
}
#u13828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13829 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:180px;
  width:14px;
  height:8px;
  display:flex;
}
#u13829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13830 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:22px;
  width:90px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13831 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:137px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13834 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:397px;
  width:300px;
  height:101px;
  display:flex;
}
#u13834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13835 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:397px;
  width:65px;
  height:30px;
  display:flex;
}
#u13835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13836 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:427px;
  width:298px;
  height:70px;
  display:flex;
}
#u13836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13837 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:440px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13837 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13838 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:377px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13840 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:377px;
  width:42px;
  height:16px;
  display:flex;
}
#u13840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13840_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13841 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:381px;
  width:14px;
  height:8px;
  display:flex;
}
#u13841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13842 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:338px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13842 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13843 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:440px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13843 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13844 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:440px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13844 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13845 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:440px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13845 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13846 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:469px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13846 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13847 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:469px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13847 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13848 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:469px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13848 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13848_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13849 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:469px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13849 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13849_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13850 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:440px;
  width:48px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13850 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13853 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:580px;
  width:300px;
  height:101px;
  display:flex;
}
#u13853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13854 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:580px;
  width:65px;
  height:30px;
  display:flex;
}
#u13854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13855 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:610px;
  width:298px;
  height:70px;
  display:flex;
}
#u13855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13856 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:623px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13856 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13856_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13857 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:560px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13857 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13857_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13859 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:560px;
  width:42px;
  height:16px;
  display:flex;
}
#u13859 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13859_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13860 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:564px;
  width:14px;
  height:8px;
  display:flex;
}
#u13860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13861 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:521px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13861_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13862 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:623px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13862 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13862_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13863 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:623px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13863 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13863_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13864 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:623px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13864 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13864_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13865 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13865 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13865_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13866 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13866 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13866_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13867 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13867 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13867_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13868 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:652px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13868 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13868_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13869 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:580px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13872 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:769px;
  width:300px;
  height:101px;
  display:flex;
}
#u13872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13873 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:769px;
  width:65px;
  height:30px;
  display:flex;
}
#u13873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13874 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:799px;
  width:298px;
  height:70px;
  display:flex;
}
#u13874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13875 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:749px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13875_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13877 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:749px;
  width:70px;
  height:16px;
  display:flex;
}
#u13877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13877_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13878 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:753px;
  width:14px;
  height:8px;
  display:flex;
}
#u13878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13879 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:710px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13880 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:812px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13880 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13881 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:812px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13881 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13882 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:839px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13882 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13882_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13883 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:839px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13883 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13884 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:839px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13884 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13885 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:769px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13886 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:769px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13887 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:812px;
  width:76px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u13887 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13890 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:969px;
  width:300px;
  height:101px;
  display:flex;
}
#u13890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13891 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:969px;
  width:65px;
  height:30px;
  display:flex;
}
#u13891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13892 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:999px;
  width:298px;
  height:70px;
  display:flex;
}
#u13892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u13893 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:949px;
  width:70px;
  height:16px;
  display:flex;
  color:#5E5E5E;
}
#u13893 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13893_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13895 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:949px;
  width:70px;
  height:16px;
  display:flex;
}
#u13895 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13895_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u13896 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:953px;
  width:14px;
  height:8px;
  display:flex;
}
#u13896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13897 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:910px;
  width:101px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u13897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13898 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:969px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u13899 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:969px;
  width:65px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u13899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13900 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1012px;
  width:62px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u13900 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13901 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:1012px;
  width:76px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13901 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13902 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:1012px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13902 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13903 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1012px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13903 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13904 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13904 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13905 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13905 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13905_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13906 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13906 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13906_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13907 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1041px;
  width:62px;
  height:22px;
  display:flex;
  color:#000000;
}
#u13907 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u13907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:46px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u13908 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:22px;
  width:163px;
  height:46px;
  display:flex;
}
#u13908 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
